@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background-color: #2196F3;
    color: white;;
}

.pagina-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}


.div{
    background-color: white;
    padding: 5rem 3rem;
    border-radius: 30px;
    color: #2195f3ce;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 500px;
    width: 100%;
    max-width: 500px;
}

.texto-titulo{
    text-align: center;
    font-size: 0.5rem;
}

.subtitulo{
    padding-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.paragrafo{
    font-weight: 500;
}

.valorReal{
    padding: 25px 20px;
    border-radius: 10px;
    border: none;
    border: 1px solid #2196F3;
}

.valorDolar{
    padding: 25px 20px;
    border-radius: 10px;
    border: none;
    border: 1px solid #2196F3;
}

.img-converter{
    align-self: center;
    height: 30px;
    width: 30px;
}

.btn-converter{
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #2196F3;
    background-color: #2196F3;
    color: white;
    padding: 10px 10px;
    font-weight: 500;
    cursor: pointer;
}

.btn-converter:hover{
    background-color: #2195f3ce ;
}

@media (max-width: 450px){
    .div{
        padding: 2rem 1rem;
        
       
    }
}